Repository andsild/blog: changes, and which Jenkins stages are due for each by the changed paths.
All: Build/upload haskell, Upload image

Build/upload haskell:
        steps {
          sh '''
            mkdir ./my-site/target || true
            docker build -t qwdeblog:latest .
            id=$(docker create qwdeblog:latest)
            docker cp $id:/blog/my-site/target/blog.tar.gz ./my-site/target/
            docker rm -v $id
  ...

Upload image:
        steps {
          sh '''
            rm -rv target || true
            mkdir -p target || true
            cd target 
  ...

All language designers are arrogant. Goes with the territory... -- Larry Wall
  my-site/posts/2020-08-31-polya-how-to-solve-it.markdown
Due: Upload image

Minimum charge for booths.
  Jenkinsfile
  my-site/posts/2019-09-21-universal-basic-income.markdown
Due: Upload image

No other warranty expressed or implied.
  Jenkinsfile
  my-site/posts/2019-09-20-should-extinct-animals-be-brought-back.markdown
Due: Upload image

HEY KIDS! ANN LANDERS SAYS: Be sure it's true, when you say "I love you". It's a sin to tell a lie. Millions of hearts have been broken, just because these words were spoken.
  Jenkinsfile
  my-site/posts/2019-10-05-books-are-bad-for-you.markdown
Due: Upload image

The ends justify the means. -- after Matthew Prior
  my-site/posts/2020-08-31-polya-how-to-solve-it.markdown
Due: Upload image

"If I do not want others to quote me, I do not speak." -- Phil Wayne
  my-site/posts/2020-08-31-polya-how-to-solve-it.markdown
Due: Upload image

Pete: Waiter, this meat is bad. Waiter: Who told you? Pete: A little swallow.
  my-site/posts/2020-08-31-polya-how-to-solve-it.markdown
Due: Upload image

I think we're all Bozos on this bus. -- Firesign Theatre
  my-site/posts/2020-08-31-polya-how-to-solve-it.markdown
Due: Upload image

Try to get all of your posthumous medals in advance.
  Jenkinsfile
Due: none

"What is the sound of Perl? Is it not the sound of a wall that people have stopped banging their heads against?" -- Larry Wall in <1992Aug26.184221.29627@netlabs.com>
  my-site/posts/2019-09-20-should-extinct-animals-be-brought-back.markdown
  my-site/site.hs
Due: Upload image

I know you think you thought you knew what you thought I said, but I'm not sure you understood what you thought I meant.
  Dockerfile
  my-site/site.hs
Due: Build/upload haskell

It's not whether you win or lose but how you played the game. -- Grantland Rice
  Dockerfile
Due: Build/upload haskell

He thinks by infection, catching an opinion like a cold.
  my-site/site.hs
Due: none

I would much rather have men ask why I have no statue, than why I have one. -- Marcus Porcius Cato
  Jenkinsfile
  my-site/posts/2019-10-05-books-are-bad-for-you.markdown
Due: Upload image

My sister opened a computer store in Hawaii. She sells C shells down by the seashore.
  my-site/index.html
  my-site/templates/default.html
Due: Upload image

The heart is wiser than the intellect.
  my-site/templates/default.html
Due: Upload image

I'm into SOFTWARE!
  my-site/posts/2021-01-22-how-to-actually-write-code.markdown
Due: Upload image

You k'n hide de fier, but w'at you gwine do wid de smoke? -- Joel Chandler Harris, proverbs of Uncle Remus
  my-site/stack.yaml
Due: none

Path conditions:
  Build/upload haskell: any of: (?i)^(?:Dockerfile|.*\\.(hs|cabal|nix|yaml|kts))$
  Upload image: any of: (?i)^(?:.*\\.(html|html|css|md)|.*/(templates|posts|images)/.*)$
